### Importar Bibliotecas

In [2]:
import sqlite3
import pandas as pd

### Criar Função para consultar o DB

In [3]:
db_file = 'f1db/f1db.db'

def query_data(query):
    try:
        # Conectar ao banco de dados
        conn = sqlite3.connect(db_file)
        
        # Se nenhuma query for fornecida, selecionar todos os dados da tabela
        if query is None:
            query = f"SELECT * FROM driver"
        
        # Executar a consulta e criar o DataFrame
        df = pd.read_sql_query(query, conn)
        
        return df
    
    except sqlite3.Error as e:
        print(f"Erro ao acessar o banco de dados SQLite: {e}")
        return None
    
    finally:
        # Fechar a conexão
        if 'conn' in locals():
            conn.close()

### Queries

In [4]:
# Deixei duas queries de exemplo, pra entenderem como faz pra buscar os dados no banco, pra criar outra query é só copiar esse modelo e depois chamar a fução lá em baixo 

top_10_drivers_by_wins = '''
SELECT 
    name, 
    total_race_wins 
FROM driver
ORDER BY total_race_wins DESC
LIMIT 10
'''

top_10_circuits_by_length = '''
SELECT
    full_name,
    length
FROM circuit
ORDER BY length DESC
LIMIT 10
'''

### Top Drivers

In [5]:
# se quiser salvar em dataframe, é só usar assim
df = query_data(top_10_drivers_by_wins)
df

                 name  total_race_wins
0      Lewis Hamilton              105
1  Michael Schumacher               91
2      Max Verstappen               64
3    Sebastian Vettel               53
4         Alain Prost               51
5        Ayrton Senna               41
6     Fernando Alonso               32
7       Nigel Mansell               31
8      Jackie Stewart               27
9           Jim Clark               25

### Longest Circuits

In [6]:
# mas se quiser só ver o resultado da query, pode usar assim
query_data(top_10_circuits_by_length)

                       full_name  length
0                Pescara Circuit  25.579
1  Sebring International Raceway   8.360
2                    Reims-Gueux   8.302
3                           AVUS   8.300
4                Charade Circuit   8.055
5               Ain-Diab Circuit   7.618
6           Circuito da Boavista   7.406
7             Circuit Bremgarten   7.280
8   Circuit de Spa-Francorchamps   7.004
9              Rouen-Les-Essarts   6.542